{% extends 'base.html.twig' %}
{% block title 'Agence immobilière Camer' %}


{% block body %}
	<div class="jumbotron text-center">
		<h1>Ma super Agence Camer</h1>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo nostrum aspernatur eaque et nobis est nemo laudantium soluta quisquam, laboriosam amet, hic odit ipsam accusantium facere temporibus minima, iste itaque!</p>
	</div>

	<div class="container">
		<h2>Les derniers biens</h2>
		<div class="row flex">
			{% for property in properties %}
			<div class="col-3">
				{% include ('property/_property.html.twig') %}
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}

