{% extends 'base.html.twig' %}
{% block title 'Editer un bien' %}

{% block body %}
        <h1 class= "EditerBien">Editer le bien</h1>
	<div class="container mt-4 image-insert">
         {{ include("admin/property/_form.html.twig", {form: form, button: 'Sauvegarder' }) }}     
    </div>
</div>
{% endblock %}









