{% extends 'base.html.twig' %}
{% block title 'Agence immobilière Camer' %}


{% block body %}
	<div class="container text-center m-t-5">
		<h1>Voir tous les biens</h1>
		<h2>Ulrich Nelson</h2>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo nostrum aspernatur eaque et nobis est nemo laudantium soluta quisquam, laboriosam amet, hic odit ipsam accusantium facere temporibus minima, iste itaque!</p>
	</div>
{% endblock %}

