{% extends 'base.html.twig' %}
{% block title 'Editer un bien' %}

{% block body %}
	<div class="container mt-4">
		<h1 class="CreerOption">Créer une nouvelle option</h1>
		<p class="message">coucou les amis je veux bien voir comment on peut créer un bien sans toutefois dire non à quelqu'un</p>
		{{ include("admin/option/_form.html.twig", { button: 'Créer' }) }}
	</div>
</div>{% endblock %}

